@charset "UTF-8";

.content{
	float: left;
	width: 70%;
}

.adver{
	float. right;
	
}

.adver ul{
	list-style: none;
}

a{
	text-decoration-line: none;
}

#newList{
	color: orange;
	font: italic;
}